<!-- Generated template for the DimensionamentoAllacciFognaturaComponent component -->

<div >

        <ion-grid>
            
          <ion-row>
              <ion-col col-5 > <div class="label-header" >
                  <ion-label>Tubazione Stradale</ion-label>
      
              </div>
                      </ion-col>
              <ion-col col-7>
                  <ion-select required [(ngModel)]="ads.DimensionamentoAllacciFognatura.ReteStradale" name="ReteStradale">
                    <ion-option *ngFor="let stradale of rete_stradale" [value]="stradale">{{stradale}}</ion-option>
                  </ion-select>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col col-5 > <div class="label-header" >
                  <ion-label>Pressione di rete [bar]</ion-label>
                   </div>
              </ion-col>
              <ion-col col-7>
                   <div class="">
                  <ion-input type="number" [(ngModel)]="ads.DimensionamentoAllacciFognatura.PressioneRete"></ion-input>
                   </div>
              </ion-col>
          </ion-row>  
      
          <ion-row>
            <ion-col col-5 > <div class="label-header" >
                <ion-label>Lunghezza allacciamento</ion-label>
                 </div>
            </ion-col>
            <ion-col col-7>
                 <div class="">
              <ion-input type="number" [(ngModel)]="ads.DimensionamentoAllacciFognatura.LunghezzaAllacciamento"></ion-input>
                 </div>
            </ion-col>
        </ion-row>  
      
          <ion-row>
              <ion-col col-5 > <div class="label-header" >
                 Numero perdite di carico concentrate <br/> (curve, tee,..)
                   </div>
              </ion-col>
              <ion-col col-7>
                  <ion-input type="number" [(ngModel)]="ads.DimensionamentoAllacciFognatura.NumeroPerdite" ></ion-input>
              </ion-col>
          </ion-row>
      
      <div class="subset">
          <div style="color:red">ATTENZIONE
                  Selezionare solo una tra le due opzioni di tipo "A"
                  Per contatori condominiali altri usi o per contatore 
                  domestico singolo DN20 utilizzare tipologie "B"
              </div>
          <ion-row class="subset-header-big">
              <ion-col col-6 > <div class="label-header label-header-green" >
                  <span>Tipo A</span>
                   </div>
              </ion-col>
              <ion-col col-3 > <div class="label-header label-header-green" >
                  <span>N. contatori/ u.i. eq </span>
                   </div>
              </ion-col>
              <ion-col col-3 > <div class="label-header label-header-green" >
                  <span style="font-size:11px;">Tipo di contatore</span>
                   </div>
              </ion-col>
              <ion-col col-6 > 
                  <div class="label-header" >
                      <ion-label>Contatore per unità abitativa \n civile singola</ion-label>
                  </div>
              </ion-col>
              <ion-col col-3>
                      <ion-input type="number" min="0" step="1" required
                                  [(ngModel)]="ads.DimensionamentoAllacciFognatura.UnitaSingola.numero" 
                                  (ionChange)="updateContatoreSingola()">
                      </ion-input>
              </ion-col>
          
              <ion-col col-3>
                      <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.UnitaSingola.tipoContatore"></ion-input>
              </ion-col>
              <ion-col col-6 > 
                      <div class="label-header" >
                           Contatore condominiale per \n unità abitative (in deroga)
                      </div>
              </ion-col>
              <ion-col col-3>
                      <ion-input type="number" min="0" step="1" required
                                  [(ngModel)]="ads.DimensionamentoAllacciFognatura.UnitaDeroga.numero" 
                                  (ionChange)="updateContatoreDeroga()">
                      </ion-input>
              </ion-col>
          
              <ion-col col-3>
                      <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.UnitaDeroga.tipoContatore"></ion-input>
              </ion-col>
          </ion-row>
      
      </div>
      
      <div class="subset">
              <div style="color:red">ATTENZIONE
                      Inserire la portata richiesta per ogni contatore utilizzando
                       solo un campo portata, non entrambe: o [l/s] o [mc/h]
                  </div>
              <ion-row class="subset-header-big2">
                  <ion-col col-3 > <div class="label-header label-header-green" >
                      <span>Tipo B</span>
                       </div>
                  </ion-col>
                  <ion-col col-2 > <div class="label-header label-header-green" >
                      <span>Numero contatori</span>
                       </div>
                  </ion-col>
                  <ion-col col-2 > <div class="label-header label-header-green" >
                      <span style="font-size:11px;">Portata richiesta per ogni contatore
                              [l/s]</span>
                       </div>
                  </ion-col>
                  <ion-col col-2 > <div class="label-header label-header-green" >
                          <span style="font-size:11px;">Portata richiesta per ogni contatore
                                  [mc/h]</span>
                           </div>
                  </ion-col>
                  <ion-col col-3 > <div class="label-header label-header-green" >
                          <span style="font-size:11px;">Tipo di contatore</span>
                           </div>
                  </ion-col>
                  <ion-col col-3 > 
                      <div class="label-header" >
                          <ion-label>Contatore per antincendio</ion-label>
                      </div>
                  </ion-col>
                  <ion-col col-2>
                          <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[0].numero" (ionBlur)="updateAntincendio(0)">
                          </ion-input>
                  </ion-col>
                  <ion-col col-2>
                          <ion-input type="number" min="0" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[0].portataLS" (ionBlur)="updateAntincendio(0,'LS')">
                          </ion-input>
                  </ion-col>
                  <ion-col col-2>
                          <ion-input type="number" min="0" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[0].portataMH" (ionBlur)="updateAntincendio(0)">
                          </ion-input>
                  </ion-col>
                  <ion-col col-3>
                          <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[0].tipoContatore"></ion-input>
                  </ion-col>
                  <ion-col col-3 > 
                          <div class="label-header" >
                              <ion-label>Contatore per antincendio</ion-label>
                          </div>
                      </ion-col>
                      <ion-col col-2>
                              <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[1].numero" (ionBlur)="updateAntincendio(1)" >
                              </ion-input>
                      </ion-col>
                      <ion-col col-2>
                              <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[1].portataLS" (ionBlur)="updateAntincendio(1,'LS')">
                              </ion-input>
                      </ion-col>
                      <ion-col col-2>
                              <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[1].portataMH" (ionBlur)="updateAntincendio(1)">
                              </ion-input>
                      </ion-col>
                      <ion-col col-3>
                              <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[1].tipoContatore"></ion-input>
                      </ion-col>
                      <ion-col col-3 > 
                              <div class="label-header" >
                                  Contatore non rientrante \n nei casi precedenti
                              </div>
                          </ion-col>
                          <ion-col col-2>
                                  <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[2].numero" (ionBlur)="updateAntincendio(2)">
                                  </ion-input>
                          </ion-col>
                          <ion-col col-2>
                                  <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[2].portataLS" (ionBlur)="updateAntincendio(2,'LS')">
                                  </ion-input>
                          </ion-col>
                          <ion-col col-2>
                                  <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[2].portataMH" (ionBlur)="updateAntincendio(2)">
                                  </ion-input>
                          </ion-col>
                          <ion-col col-3>
                                  <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[2].tipoContatore"></ion-input>
                          </ion-col>
                          <ion-col col-3 > 
                                  <div class="label-header" >
                                      Contatore non rientrante \n nei casi precedenti
                                  </div>
                              </ion-col>
                              <ion-col col-2>
                                      <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[3].numero" (ionBlur)="updateAntincendio(3)">
                                      </ion-input>
                              </ion-col>
                              <ion-col col-2>
                                      <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[3].portataLS" (ionBlur)="updateAntincendio(3,'LS')">
                                      </ion-input>
                              </ion-col>
                              <ion-col col-2>
                                      <ion-input type="number" min="0" step="1" [(ngModel)]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[3].portataMH" (ionBlur)="updateAntincendio(3)">
                                      </ion-input>
                              </ion-col>
                              <ion-col col-3>
                                      <ion-input disabled="true" [ngModel]="ads.DimensionamentoAllacciFognatura.ContatoriAntincendio[3].tipoContatore"></ion-input>
                              </ion-col>
              </ion-row>
          
          </div>
      
          <div class="subset">
              <ion-row class="subset-header-big2">
                      <ion-col col-7 > 
                              <div class="label-header" >
                                  PORTATA DI CALCOLO A [MC/H]\n (contatori a servizio di unità abitative civili)
                              </div>
                          </ion-col>
                          <ion-col col-5>
                                  <ion-input type="number" [ngModel]="ads.DimensionamentoAllacciFognatura.PortataCalcoloA" readonly="true">
                                  </ion-input>
                          </ion-col>
                          <ion-col col-7 > 
                                  <div class="label-header" >
                                      PORTATA DI CALCOLO B [MC/H] \n(altri contatori)
                                  </div>
                          </ion-col>
                          <ion-col col-5>
                                  <ion-input type="number" [ngModel]="ads.DimensionamentoAllacciFognatura.PortataCalcoloB"  readonly="true">
                                  </ion-input>
                          </ion-col>
                          <ion-col col-7 > 
                                  <div class="label-header" >
                                      PORTATA DI CALCOLO COMPLESSIVA (A+B) [MC/H] 
                                  </div>
                          </ion-col>
                          <ion-col col-5>
                                  <ion-input type="number" [ngModel]="ads.DimensionamentoAllacciFognatura.PortataCalcoloTotale"  readonly="true">
                                  </ion-input>
                          </ion-col>
              </ion-row>
          </div>    
          <div class="subset">
                  <ion-row class="subset-header">
                          <ion-col col-12 > 
                                  <div class="label-header" >
                                      VERIFICA ALLACCIAMENTO ESISTENTE / DIMENSIONAMENTO NUOVO ALLACCIO
                                  </div>
                              </ion-col>
                  </ion-row>
          </div>
      
          
          <div class="subset">
              <ion-row class="subset-header-big2">
                  <ion-col col-4 > <div class="label-header label-header-green" >
                      <span>Condotta allacciamento</span>
                       </div>
                  </ion-col>
                  <ion-col col-1 > <div class="label-header label-header-green" >
                      <span style="font-size: 10px;">Diametro interno [mm]</span>
                       </div>
                  </ion-col>
                  <ion-col col-1 > <div class="label-header label-header-green" >
                      <span style="font-size:11px;">Scabrezza [mm]</span>
                       </div>
                  </ion-col>
                  <ion-col col-1 > <div class="label-header label-header-green" >
                          <span style="font-size:11px;">Perdita di carico [bar]</span>
                           </div>
                  </ion-col>
                  <ion-col col-1 > <div class="label-header label-header-green" >
                          <span style="font-size:7px;">Pressione al contatore [bar]</span>
                           </div>
                  </ion-col>
                  <ion-col col-1 > <div class="label-header label-header-green" >
                          <span style="font-size:11px;">Velocità [m/s]</span>
                           </div>
                  </ion-col>
                  <ion-col col-3 > <div class="label-header label-header-green" >
                          <span style="font-size:11px;">Verifica condotta esistente</span>
                           </div>
                  </ion-col>
                  <ion-col col-4 > 
                          <div class="label-header" >
                              VERIFICA ALLACCIAMENTO ESISTENTE (scelta libera "materiale/DE/PN")
                          </div>
                  </ion-col>
                  <ion-col col-8 >
                  </ion-col>
                  <ion-col col-4 > 
                          <ion-select style="width:100%;padding: 0px;" required [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente">
                              <ion-option *ngFor="let item of allacciEsistentiArray" [value]="item">{{item.nome}}</ion-option>
                          </ion-select>
                  </ion-col>
                  <ion-col col-1>
                          <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.diametro}}</div>
                  </ion-col>
                  <ion-col col-1>
                         <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.scabrezza}}</div>
                  </ion-col>
                  <ion-col col-1>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.colorPerdita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.perdita}}</div>
                  </ion-col>
                  <ion-col col-1>
                         <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="textTable smallText">{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.pressione}} </div>
                  </ion-col>
                  <ion-col col-1>
                         <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente"  class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.colorVelocita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.velocita}}</div>
                  </ion-col>
                  <ion-col col-3>
                          <ion-select  style="width:100%;padding: 0px;" *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.VerificaCondotta">
                              <ion-option [value]=""></ion-option>
                              <ion-option [value]="CondottaIdonea">Condotta idonea</ion-option>
                              <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                          </ion-select>
                  </ion-col>
                  <ion-col col-4 > 
                              <div class="label-header" >
                                  VERIFICA ALLACCIAMENTO NUOVO (scelta predefinita o libera "materiale/DE/PN")
                              </div>
                      </ion-col>
                      <ion-col col-8 >
                      </ion-col>
                      <ion-col col-4 > 
                              <div class="">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.nome}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.colorPerdita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.perdita}} {{calcolaPerdita()}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.pressione}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable"  [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select  style="width:100%;padding: 0px;" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo1.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaIdonea">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                                 </ion-select>
                      </ion-col>
      
                      <ion-col col-4 > 
                              <div class="">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.nome}}</div>
      
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.colorPerdita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.perdita}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.pressione}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select  style="width:100%;padding: 0px;" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo2.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaIdonea">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                              </ion-select>
                      </ion-col>
      
                      <ion-col col-4 > 
                              <div class="">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.nome}}</div>
      
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.colorPerdita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.perdita}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.pressione}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select  style="width:100%;padding: 0px;" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo3.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaIdonea">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                              </ion-select>
                      </ion-col>
      
                      <ion-col col-4 > 
                                      <div class="">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.nome}}</div>
              
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.colorPerdita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.perdita}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.pressione}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select  style="width:100%;padding: 0px;" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo4.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaIdonea">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                              </ion-select>
                      </ion-col>
      
                      <ion-col col-4 > 
                                      <div class="">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.nome}}</div>
              
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.colorPerdita}"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.perdita}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable smallText"> {{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.pressione}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select   style="width:100%;padding: 0px;" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo5.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaIdonea">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                              </ion-select>
                      </ion-col>
                      <ion-col col-4 > 
                              <ion-select style="width:100%;padding: 0px;" required [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6">
                                      <ion-option *ngFor="let item of allacciNuoviArray" [value]="item">{{item.nome}}</ion-option>
                              </ion-select>
                      </ion-col>
                      <ion-col col-1>
                              <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.diametro}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="textTable">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.scabrezza}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="textTable smallText" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.colorPerdita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.perdita}}</div>
                      </ion-col>
                      <ion-col col-1>
                              <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="textTable smallText">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.pressione}} </div>
                      </ion-col>
                      <ion-col col-1>
                              <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="textTable" [ngStyle]="{'color': ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.colorVelocita}">{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.velocita}}</div>
                      </ion-col>
                      <ion-col col-3>
                              <ion-select  style="width:100%;padding: 0px;" *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.VerificaCondotta">
                                      <ion-option [value]=""></ion-option>
                                      <ion-option [value]="CondottaProgetto">Condotta di progetto</ion-option>
                                      <ion-option [value]="CondottaNonIdonea">Condotta non idonea</ion-option>
                              </ion-select>
                      </ion-col>
              </ion-row>
          </div>
          
        </ion-grid>
      
      <ion-row>
              <ion-col col-12>
                      <button class="btn btn--primary button-login inline-block btn-details button-mr" style="width:100%" (click)="onSubmit()">Salva</button>
              </ion-col>
              </ion-row>
       
      
      </div>
      
